 @import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Josefin+Sans&family=Permanent+Marker&family=Rubik&family=Varela+Round&family=Work+Sans:ital@1&display=swap');

body{
    margin: 0;
    padding: 0 4%;
    box-sizing: border-box;
    // width: 100vw;
    height: 100vh;
    // background-image: url("/public/pics/bg.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Belanosima', sans-serif;
font-family: 'Josefin Sans', sans-serif;
// font-family: 'Permanent Marker', cursive;
// font-family: 'Rubik', sans-serif;
// font-family: 'Varela Round', sans-serif;
// font-family: 'Work Sans', sans-serif;
}

.nav{
    // background-color: #3d3c3c;
    height: 3.3rem;
    // border-radius: 2rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

    ul{
        // max-width: 25%;
        display: flex;
        gap: 2rem;
        justify-content: center;
        align-items: center;
        h1{
            font-size: 2.2rem;
            cursor: pointer;
            color: rgb(10, 141, 141);
            text-decoration: line-through;
        }
        li{
            list-style: none;
            font-size: 1.2rem;
            font-weight: 500;

            a{
                color: black;
                text-decoration: none;
                transition: all 0.5s ease;
                &:hover{
                    color:rgb(10, 141, 141) ;
                    font-weight: 600;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media screen and (max-width:767px){
    html{
        font-size: 63%;
    }
    .nav{
    width: 80vw;
    box-shadow: none;
    }
    ul{
        gap: 0.5rem;
    }
    body{
        padding: 0 4%;
        background-image: none;
        height: 70vh;
    }
}

.home{
    margin-top: 2rem;
    height: 85vh;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 3rem;
    
    .img{
        
            background-image: url("/public/pics/fun.jpg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        
 
    }
    .txt{
      
    
        .txt_t{
            background-image: url("/public/pics/bg1.jpg");
            border-radius: 41% 59% 74% 26% / 13% 52% 48% 87%  ;
            h1{
                font-size: 2.5rem;
                line-height: 3.5rem;
            }
            h2{
                margin-top: 2rem;
                font-weight: 540;
            }
            span{
                color: rgb(10, 141, 141);
            }
}
            .card{
                margin-top: 3rem;
                display: flex;
                justify-content: space-between;
                .card1,.card2{
                    // background-image: url("/public/pics/imageedit_2_2533753204.png");
                    // background-position: center;
                    // background-size: contain;
                    background-repeat: no-repeat;
                    // box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                    background-color: white;
                    width: 43%;
                    // width: 17rem;
                    // height: inherit;
                    border-radius: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    // justify-content: space-between;
                    padding: 0.9rem 1rem;

                    h3{
                        margin-top:- 1%;
                    }
                    .prize{
                        margin-top: 0%;
                    }
                    button{
                        padding: 0.5rem 1rem;
                        border: none;
                        cursor: pointer;
                        color: white;
                        background-color: #252525;
                        border-radius: 0.5rem;
                        transition: all 0.7s ease;
                        &:hover{
                            background-color:rgb(10, 141, 141) ;
                            font-weight: 600;
                            text-decoration: underline;
                        }
                    }
                    ul{
                        margin-top:- 2%;
                       margin-left: -2.5rem;
                        display: flex;
                        align-items:center;
                        justify-content: space-between;
                        gap: 1rem;
                        li{
                            list-style: none;
                            text-decoration: underline;
                        }
                    }
                }
            }

        
    }
}


@media screen and (max-width:767px){

    .home{
       grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
   
    .txt{
        background-image: url("/public/pics/bg1.jpg");
        border-radius: 10rem;
        border-radius: 33px 200px 33px 200px;
-moz-border-radius: 33px 200px 33px 200px;
-webkit-border-radius: 33px 200px 33px 200px;
border: 0px solid #000000;
    }
   
    
}

.me{
    background-color: rgb(10, 141, 141);
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
//    border-radius: 1rem;
   box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   border: none;
   
}

@media screen and (max-width:767px){

    .me{
        height: 3rem;
        // margin-bottom: -9%;
        margin-top: 2.5rem;
    }
}